{% extends "base.html" %}

{% block content %}
<h2>My Reservations</h2>

{% if reservations %}
    <ul>
        {% for reservation in reservations %}
        <li>
            {{ reservation.name }} - {{ reservation.date }} - {{ reservation.guests }} guests
            <a href="{% url 'edit_reservation' reservation.id %}">Edit</a>
            <a href="{% url 'delete_reservation' reservation.id %}">Delete</a>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You have no reservations.</p>
{% endif %}

{% endblock %}