<article>
    <div class="row">
        <div class="col-12 col-md-6 my-5">
            <h1>Reservation Details</h1>
            <p>Name: {{ reservation.name }}</p>
            <p>Date: {{ reservation.reservation_date }}</p>
            <p>Time: {{ reservation.reservation_time }}</p>
            <p>Guests: {{ reservation.guests }}</p>
            <p>Special Request: {{ reservation.special_request }}</p>
            <a href="{% url 'reservation_edit' reservation.id %}">Edit</a>
            <a href="{% url 'reservation_list' %}">Back to Reservations</a>
        </div>
    </div>
</article>