{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- home_list.html content starts here -->
<article class="container">

    <!--Home model's contents rendering starts here-->
    <div class="masthead header-container">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12 text-center">
                {% for item in home %}
                <header>
                    <h1 class="header">{{ item.title }}</h1>
                </header>
                <p class="lead">{{ item.slogan | safe }}</p>
                {% if user.is_authenticated %}
                <a href="{% url 'reservation' %}" class="btn btn-outline-dark">Make a Reservation</a>
                {% else %}
                <p>You must be logged in to make a reservation. <a href="{% url 'account_login' %}">Login here</a></p>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!--/Home model's contents rendering ends here-->

    <!--Menu model's items rendering starts here-->
    <div class="container mt-5">
        <h3 class="text-center">Today's Menu Highlights</h3>
        <div class="opaque-overlay">&nbsp;</div>
        <div class="menu-container">
            <div class="row align-items-stretch">
                {% for item in menu_items %}
                <div class="col-md-3">
                    <div class="card menu-item h-100">
                        {% if "placeholder" in item.featured_image.url %}
                        <img class="scale" src="{% static 'images/restaurant.jpg' %}" alt="placeholder image">
                        {% else %}
                        <img class="scale" src=" {{ item.featured_image.url }}" alt="{{ item.dish }}">
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ item.dish }}</h5>
                            <p class="card-text">{{ item.description }}</p>
                            <p class="card-text text-primary">Price: €{{ item.price }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!--/Menu items rendering ends here-->

</article>
<!-- /home_list.html content ends here -->
<div class="opaque-overlay">&nbsp;</div>
{% endblock %}

{% block copyright %}
Sirjay's Cuisine 2024
<div class="opaque-overlay">&nbsp;</div>
<div class="text-white text-center">
    <p style="margin:0;">Address: 124 Schulenburger Str. Hannover Germany</p>
    <p>Tel: +49176711858810</p>
</div>
{% endblock %}