{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- home.html content starts here -->
<article class="container">
    <section class="callout">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12 jumbotron text-center">
                <h1 class="jumbotron-header">Welcome to Sirjay's Cuisine</h1>
                <p class="lead">... a taste of Africa</p>
            </div>
        </div>
    </section>
    <section class="menu">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12 text-center">
                <h3 class="menu-header">MENU</h3>
                <div class="col-12 col-sm-6 co-lg-3">
                    <ul><li>Jollof rice - $18</li></ul>
                </div>

                <div class="col-12 col-sm-6 co-lg-3">
                    <ul><li>Moi Moi - $15</li></ul>
                </div>

                <div class="col-12 col-sm-6 co-lg-3">
                    <ul><li>Pounded yam - $28</li></ul>
                </div>

                <div class="col-12 col-sm-6 co-lg-3">
                    <ul><li>Porridge beans - $20</li></ul>
                </div>

                <div class="col-12 col-sm-6 co-lg-3">
                    <ul><li>Vegetable soup - $25</li></ul>
                </div>
            </div>
        </div>
    </section>
</article>
<!-- home.html content ends here -->
{% endblock %}

{% block copyright %}
Sirjay's Cuisine
{% endblock %}