{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- home.html content starts here -->
<article class="container">
    <section class="callout">
        <div class="opaque-overlay">&nbsp;</div>
        <div class="row">
            <div class="col-12 jumbotron text-center">
                <h1 class="jumbotron-header">{{ home.title }}</h1>
                <p class="lead">{{ home.slogan }}</p>
            </div>
        </div>
    </section>
    <hr>
    <section class="mt-5">
        <h3 class="text-center">Menu Highlights</h3>
        <div class="row mt-4">
            {% for menu in object_list %}
            <div class="col-md-4">
                <div class="card">
                    <img src="{{ menu.image.url }}" class="card-img-top" alt="{{ menu.dish }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ menu.dish }}</h5>
                        <p class="card-text">{{ menu.description }}</p>
                        <p class="card-text text-primary">Price: ${{ menu.price }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</article>
<!-- home.html content ends here -->
{% endblock %}

{% block copyright %}
Sirjay's Cuisine
{% endblock %}