<article>
    <div class="row">
        <div class="col-12 col-md6 my-5">
            <div class="reservation-data">
                <h2>Reservation Details</h2>
                <p><strong>Name:</strong> {{ reservation.name }}</p>
                <p><strong>Email:</strong> {{ reservation.email }}</p>
                <p><strong>Guests:</strong> {{ reservation.guests }}</p>
                <p><strong>Date:</strong> {{ reservation.reservation_date }}</p>
                <p><strong>Time:</strong> {{ reservation.reservation_time }}</p>
                <p><strong>Special Request:</strong> {{ reservation.special_request }}</p>
            </div>
        </div>
    </div>

    <!-- Add an Edit button -->
    <a href="{% url 'reservation_edit' reservation.id %}" class="btn btn-outline-dark">Edit</a>
</article>