.header-background {
    background-image: url('../images/restaurant.jpg');
    background-size: cover; /* Ensures the image covers the entire container */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 50px; /* Adds space inside the container */
    border-radius: 12px; /* Optional: Adds rounded corners */
    text-align: center; /* Centers the text */
    color: white; /* Ensures text is readable on a dark background */
}

.reserve-form {
    margin-top: 1.3em;
}

.reserve-instance-form {
    display: inline;
}

.sign-up {
    text-decoration: none;
}
